.loginAndSignup{
    margin-top:10%;
    text-align: center;
}
.tab-button{
    display:inline-block;
    padding: 0 20px 0 0;
    background: none;
	border: none;
	cursor: pointer;
    font-weight: 400;
    font-size: 30px;
}
.tab-button.signup{
    padding:0 0 0 20px;
}
.verticalLine{
    /* margin-right: 20px; */
    display:inline-block;
    border-left: 5px solid black;
    height:40px;
}
.loginForm{
    line-height: 5px;
}
.loginForm input{
    height:30px;
    width:300px;
    margin-top:20px;
}
.loginForm .loginSubmit{
    height:30px;
    width:70px;
}

.signupForm input{
    height:30px;
    width:300px;
    margin-top:20px;
}
.signupForm > input.name{
    margin-right: 20px;
    width:150px;
}